.account {
  background-color: white;
}


.navBar {
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: left;
    background-color: #e6d2b5;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #777777;

}