// for html and body in public/index.html
html,
body {
  margin: 0;
  padding: 0;
}

@import '../features/auth/style/_account.scss';

@import '../features/header/style/_header.scss';


body {
font-family: "Playfair Display";
}
